.ring {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px; /* 72 */
    height: 0px;
    border: 1px solid rgba(31, 30, 30, 0.608);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    will-change: width, height, transform, border;
    z-index: 9999;
    pointer-events: none;
    opacity: 0
  }
  
  .dot {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0px; /* 6 */
    height: 0px;
    background-color: black;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: none;
    opacity: 0
  }
  
  .ring.hovered {
    width: 0px;
    height: 0px;
    border-width: 3px;
    border-color: lightgray;
    opacity: 0
  }
  
  .dot.hovered {
    display: none;
  }

  /* Ряд изображений, которые нужно будет поправить */

  /* Img 1 */

  .ring.renderHor-1 {
    width: 300px;
    height: 240px;
    background-color: grey;
    background: url("/catalog/12.jpg");
    background-size: cover;
    border-width: 0;
    border-radius: 0;
    opacity: 1
  }

  .dot.renderHor-1 {
    display: none;
  }

  /* Img 2 */

  .ring.renderHor-2 {
    width: 300px;
    height: 240px;
    background-color: grey;
    background: url("/catalog/9.jpg");
    background-size: cover;
    border-width: 0;
    border-radius: 0;
    opacity: 1
  }

  .dot.renderHor-2 {
    display: none;
  }

  /* Img 3 */
  .ring.renderVer-3 {
    width: 200px;
    height: 360px;
    background-color: grey;
    background: url("/catalog/1.jpg");
    background-size: cover;
    border-width: 0;
    border-radius: 0;
    opacity: 1
  }

  .dot.renderVer-3 {
    display: none;
  }

  /* Img 4 */
  .ring.renderVer-4 {
    width: 200px;
    height: 360px;
    background-color: grey;
    background: url("/catalog/4.jpg");
    background-size: cover;
    border-width: 0;
    border-radius: 0;
    opacity: 1
  }

  .dot.renderVer-4 {
    display: none;
  }