@import url("./dotRing.css");

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&display=swap');

@font-face {
  font-family: "Wremena";
  src: url("/fonts/WremenaRegular.woff2") format("woff2"),
       url("/fonts/WremenaRegular.woff") format("woff");
}

* {
  transition: all .6s cubic-bezier(.19,1,.22,1);
}

/* Ant Design Styles */
.ant-select-dropdown {
  z-index: 9991
}

/* Main Content */

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-family: 'IBM Plex Sans', sans-serif;
}

h3 {
  font-weight: 600 !important;
  font-family: 'IBM Plex Sans', sans-serif;
}

*[data-font="ibm"] {
  font-family: 'IBM Plex Sans', sans-serif;
}

*[data-font="wremena"] {
  font-family: 'Wremena', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
